<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <title>Phrasing</title>
  <%= stylesheet_link_tag "phrasing_engine", media: "all" %>
  <%= javascript_include_tag "phrasing_engine" %>
  <%= csrf_meta_tag %>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
</head>

<body>
  <div id="page">
    <%= render 'phrasing/production_warning' if Rails.env.production? %>
    <%= render 'phrasing/menu' %>
    <%= render 'phrasing/messages' %>
    <%= yield %>
  </div>
  <script src="https://cdn.ckeditor.com/4.13.0/full/ckeditor.js"></script>
  <script>
    $(document).ready(function () {
    CKEDITOR.replace('editor',{
      removeButtons: 'Cut,Copy,Paste,Undo,Redo,Anchor,Underline,Strike,Subscript,Superscript',
      toolbarGroups: [
		{ name: 'document',	   groups: [ 'mode', 'document', 'doctools' ] },
		{ name: 'clipboard',   groups: [ 'clipboard', 'undo' ] },
		{ name: 'editing',     groups: [ 'find', 'selection', 'spellchecker' ] },
		{ name: 'forms' },
		{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
		{ name: 'paragraph',   groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
		{ name: 'links' },
		{ name: 'insert' },
		{ name: 'styles' },
		{ name: 'colors' },
		{ name: 'tools' },
		{ name: 'others' },
		{ name: 'about' }
	]
    });

  </script>
</body>

</html>