<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <title>Phrasing</title>
  <%= stylesheet_link_tag "phrasing_engine", media: "all" %>
  <%= javascript_include_tag "phrasing_engine" %>
  <%= csrf_meta_tag %>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
</head>

<body>
  <div id="page">
    <%= render 'phrasing/production_warning' if Rails.env.production? %>
    <%= render 'phrasing/menu' %>
    <%= render 'phrasing/messages' %>
    <%= yield %>
  </div>
  <script src="https://cdn.ckeditor.com/4.13.0/full/ckeditor.js"></script>
  <script>
    $(document).ready(function () {
    CKEDITOR.replace('editor',{
      removeButtons: 'Cut,Copy,Paste,Undo,Redo,Anchor,Underline,Strike,Subscript,Superscript'
    });
    CKEDITOR.editorConfig = function( config ) {
	
	// %REMOVE_START%
	// The configuration options below are needed when running CKEditor from source files.
	config.plugins = 'dialogui,dialog,about,dialogadvtab,bidi,notification,button,toolbar,clipboard,panelbutton,panel,floatpanel,colorbutton,colordialog,templates,menu,contextmenu,copyformatting,resize,elementspath,enterkey,entities,exportpdf,popup,filetools,filebrowser,find,listblock,richcombo,font,format,horizontalrule,wysiwygarea,image,indent,indentblock,indentlist,smiley,justify,menubutton,language,fakeobjects,link,list,liststyle,magicline,maximize,newpage,pagebreak,pastetext,pastetools,pastefromgdocs,pastefromword,preview,print,removeformat,save,selectall,showblocks,showborders,sourcearea,specialchar,scayt,stylescombo,tab,table,tabletools,undo,docprops,docfont';
	config.skin = 'kama';
	// %REMOVE_END%

	// Define changes to default configuration here. For example:
	// config.language = 'fr';
	// config.uiColor = '#AADC6E';
};
        });
  </script>
</body>

</html>